# Configuración de Base de Datos (MariaDB)
DB_NAME=gymdb
DB_USER=gymuser
DB_PASSWORD=gympassword123

# Credenciales Temporales de Seguridad
USER_SECURITY=admin
PASSWORD_SECURITY=admin123

# Configuración JWT (Firma y Expiración en ms)
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION=86400000

# Correo (Resend API)
RESEND_API_KEY=
RESEND_FROM=Gimnasio <onboarding@resend.dev>

# Seeder inicial de datos
DATA_INITIALIZER_ENABLED=true

