
:root {
    --app-color-primario: #101D42;
    --app-color-secundario: #6E6A6F;
    --app-color-acento: #035E7B;
    --app-color-fondo: #FFF;
    --app-color-texto: #000;

    --app-fuente-texto: Arial;
}
